<!-- Lets talk about geddy -->
<%- styleLink('/css/auth-buttons.css', {rel:'stylesheet'}) %>
<div class="hero-unit">
  <p style="text-align: center;">
    
    <a class="btn-auth btn-facebook large"
        href="<%= geddy.config.fullHostname %><%= facebookPath %>">
      Log in with Facebook
    </a>
  </p>
</div>
