container_commands:
  01write:
    command: |
      cat > ./config/secrets.json << SEC_END
        { "secret":   "`{ "Fn::GetOptionSetting": {"OptionName": "secret", "Namespace":"aws:elasticbeanstalk:application:environment"}}`" }
      SEC_END
  02db:
    command: |
      ./node_modules/geddy/bin/cli.js gen upgrade
