container_commands:
  01write:
    command: |
      cat > ./config/secrets.json << SEC_END
        { 
          "passport": {
            "successRedirect": "/",
            "failureRedirect": "/login",
            "twitter": {
              "consumerKey": "XXXXX",
              "consumerSecret": "XXXXX"
            },
            "facebook": {
              "clientID":   "`{ "Fn::GetOptionSetting": {"OptionName": "facebookClientID", "Namespace":"aws:elasticbeanstalk:application:environment"}}`",
              "clientSecret":   "`{ "Fn::GetOptionSetting": {"OptionName": "facebookClientSecret", "Namespace":"aws:elasticbeanstalk:application:environment"}}`" 
            },
            "yammer": {
              "clientID": "XXXXX",
              "clientSecret": "XXXXX"
            }
           },
           "secret":   "`{ "Fn::GetOptionSetting": {"OptionName": "secret", "Namespace":"aws:elasticbeanstalk:application:environment"}}`" 


        }
      SEC_END
  02db:
    command: `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node ./node_modules/geddy/bin/cli.js gen upgrade
  03db:
    command: `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node ./node_modules/geddy/bin/cli.js jake db\:init
  04db:
    command: `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node ./node_modules/geddy/bin/cli.js jake db\:migrate
