<div class="control-group">
  <label for="group" class="control-label">Redigera grupptillhörighet för <%=user.givenName + " " + user.familyName%></label>
  <div class="controls">
    <%- selectTag([{text:'Servering', value:'seller'}, {text:'Kung-Fu Panda', value:'runner'}, {text:'Logistikpanda',value:'controller'}], user.group, {class:'span6', name:'group'}) %>
  </div>
</div>
