<div class="hero-unit">
  <h2>All Users</h2>
  <%- linkTo('Create a new User', addUserPath, {class: 'btn pull-right'}); %>
</div>

<div id="users-list">
<% if (users) { %>
<%- buildTable([{text:"Vara", field:"name"},
                {text:"Ordernummer", field:"orderno"},
                {text:"Paketstorlek", field:"packaging"},
                {text:"Pris (SEK)", field:"price"},
                {text:"Förvaring", field:"storage"},
                {text:"Skafferiplats", field:"position"},
                {text:"Metadata", field:"data"}], users, userPath, "id"); %>
<% } %>
</div>
