<div class="hero-unit">
  <h2>All Users</h2>
  <%- linkTo('Create a new User', addUserPath, {class: 'btn pull-right'}); %>
</div>

<div id="users-list">
<% if (users) { %>
<%- JSON.stringify(users); %>
<%- buildTable([{text:"Användarnamn", field:"username"},
                {text:"Förnamn", field:"givenname"},
                {text:"Efternamn", field:"familyname"},
                {text:"Grupp", field:"group"}], users, userPath, "id", []); %>
<% } %>
</div>
