<div class="hero-unit">
  <form id="order-form" class="form-horizontal" action="/orders/complete" method="POST">
    <fieldset>
      <legend>Hantera leverans</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('completeform', {order: params, places: places}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Färdigställ leverans', {tabindex:1, type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
