<div class="hero-unit">
  <form id="order-form" class="form-horizontal" action="/orders/<%= params.id %>?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this Order</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {order: order, wares:wares, places:places}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Save', {tabindex:1, type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
