<div class="hero-unit">
  <h2>Alla beställningar</h2>
  <%- linkTo('Visa öppna beställningar', '/orders', {class: 'btn pull-right'}); %>
  <%- linkTo('Lägg beställning', addOrderPath, {class: 'btn pull-right'}); %>
</div>

<div id="orders-list">
<% if (orders) { %>
<%- buildTable([{text:"Vara", field:"ware.name"},
                {text:"Beställningstid", field:"createdAt"},
		{text:"Antal", field:"count"},
                {text:"Status", field:"status"},
                {text:"Beställning till", field:"place.name"}], orders, orderPath, "id", [{path: function(a){return "/orders/manage/"+a;}, text: "Uppdatera status"}]); %>
<% } %>
</div>
