<div class="hero-unit">
  <h2>Alla beställningar</h2>
  <%- linkTo('Visa öppna beställningar', '/orders', {class: 'btn pull-right'}); %>
  <%- linkTo('Lägg beställning', addOrderPath, {class: 'btn pull-right'}); %>
</div>

<div id="orders-list">
<% if (orders) { %>
<%- buildTable([{text:"Vara", field:"ware.name", link: function(a){return "/wares/"+a.wareId;}},
                {text:"Beställningstid", field:"createdAt"},
                {text:"Antal", field:"count"},
                {text:"Status", field:"status"},
                {text:"Beställning till", field:"place.name", link: function(a){return "/places/"+a.placeId;}}], orders, false, "id"); %>
<% } %>
</div>
