<div class="hero-unit">
  <h2>All Orders</h2>
  <%- linkTo('Create a new Order', addOrderPath, {class: 'btn pull-right'}); %>
</div>

<div id="orders-list">
<%- JSON.stringify(orders) %>
<% if (orders) { %>
<%- buildTable([{text:"Vara", field:"ware"},
                {text:"Beställningstid", field:"createdAt"},
                {text:"Senast uppdaterad", field:"updatedAt"},
                {text:"Status", field:"status"},
                {text:"Beställning till", field:"place"}], orders, orderPath, "id", [{path: function(a){return "/orders/complete/"+a;}, text: "Färdigställ beställning"}]); %>
<% } %>
</div>
