<div class="hero-unit">
  <h2>Öppna beställningar</h2>
  <%- linkTo('Visa alla beställningar', '/allorders', {class: 'btn pull-right'}); %>
  <%- linkTo('Lägg beställning', addOrderPath, {class: 'btn pull-right'}); %>
</div>

<div id="orders-list">
<% if (orders) { %>
<%- buildTable([{text:"Vara", field:"ware.name", link: function(a){return "/wares/"+ware.id;}},
                {text:"Beställningstid", field:"createdAt"},
                {text:"Antal", field:"count"},
                {text:"Status", field:"status"},
                {text:"Beställning till", field:"place.name", link: function(a){return "/places/"+place.id;}}], orders, undefined, "id", 
                [
                {path: function(a){return "/orders/"+a+"/edit";}, text: "Redigera"},
                {path: function(a){return "/orders/status/"+a;}, text: "Ta emot order", showif:function(a){return !a.userId;}},
                {path: function(a){return "/orders/reopen/"+a;}, text: "Håll order", showif:function(a){return a.userId;}},
                {path: function(a){return "/orders/manage/"+a;}, text: "Färdigställ", showif:function(a){return a.userId;}},
                {path: function(a){return "/orders/remove/"+a;}, text: "Avbeställ"}
                ]); %>
<% } %>
</div>
