<div class="hero-unit">
  <h2>All Orders</h2>
  <%- linkTo('Create a new Order', addOrderPath, {class: 'btn pull-right'}); %>
</div>

<div id="orders-list">
<% if (orders) { %>
<%- buildTable([{text:"Vara", field:"name"},
                {text:"Ordernummer", field:"orderno"},
                {text:"Paketstorlek", field:"packaging"},
                {text:"Pris (SEK)", field:"price"},
                {text:"Förvaring", field:"storage"},
                {text:"Skafferiplats", field:"position"},
                {text:"Metadata", field:"data"}], orders, orderPath, "id"); %>
<% } %>
</div>
