<div class="control-group">
  <label for="count" class="control-label">Antal levererade</label>
  <div class="controls">
    <%- contentTag('input', order.count, {tabindex:1, type:'number', class:'span2', name:'count'}) %>
  </div>
</div>
<div class="control-group">
  <label for="targetLocation" class="control-label"><%if(order.group == 'pickup'){%>Levererat till<%}else{%>Levererat från<%}%></label>
  <div class="controls">
    <%- selectTag(places, null, {tabindex:1, class:'span6', name:'targetLocation'}) %>
  </div>
</div>
