<div class="hero-unit">
  <h2 class="id"><%= order.id %></h2>
  <%- linkTo('Edit this order', editOrderPath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', orderPath(''), {class: 'btn pull-right'}); %>
</div>


<div id="orders-list">
<% if(order) { %>
<%- buildTable([{text:"Vara", field:"ware.name"},
                {text:"Beställningstid", field:"createdAt"},
		{text:"Antal", field:"count"},
                {text:"Status", field:"status"},
                {text:"Beställning till", field:"place.name"}], order, editOrderPath, "id", [{path: function(a){return "/orders/manage/"+a;}, text: "Uppdatera status"}]); %>
<% } %>
</div>

