<div class="hero-unit">
  <form id="ware-form" class="form-horizontal" action="/wares" method="POST">
    <fieldset>
      <legend>Create a new Ware</legend>
      <% if(params.errors) { %>
      <div class="control-group">
        <ul>
        <% for(var err in params.errors) { %>
          <li><%= params.errors[err]; %></li>
        <% } %>
        </ul>
      </div>
      <% } %>

      <%- partial('form', {ware: params}) %>

      <div class="form-actions">
        <%- contentTag('input', 'Add', {tabindex:1, type: 'submit', class: 'btn btn-primary'}) %>
      </div>
    </fieldset>
  </form>
</div>
