<div class="hero-unit">
  <h2>All Wares</h2>
  <%- linkTo('Create a new Ware', addWarePath, {class: 'btn pull-right'}); %>
</div>

<div id="wares-list">
<% if (wares) { %>
<%- buildTable([{text:"Vara", value:"name"},
                {text:"Ordernummer", value:"orderno"},
                {text:"Paketstorlek", value:"packaging"},
                {text:"Pris (SEK)", value:"price"},
                {text:"Förvaring", value:"storage"},
                {text:"Skafferiplats", value:"position"}], wares, warePath, "id"); %>
<% } %>
</div>
