<div class="hero-unit">
  <h2>All Wares</h2>
  <%- linkTo('Create a new Ware', addWarePath, {class: 'btn pull-right'}); %>
</div>

<div id="wares-list">
<% if (wares) { %>
<%- buildTable([{text:"Vara", field:"name"},
                {text:"Ordernummer", field:"orderno"},
                {text:"Paketstorlek", field:"packaging"},
                {text:"Pris (SEK)", field:"price"},
                {text:"Förvaring", field:"storage"},
                {text:"Skafferiplats", field:"position"},
                {text:"Metadata", field:"data"}], wares, warePath, "id"); %>
<% } %>
</div>
