<div class="control-group">
  <label for="timestamp" class="control-label">timestamp</label>
  <div class="controls">
    <%- contentTag('input', transaction.timestamp, {type:'datetime', class:'span3', name:'timestamp'}) %>
  </div>
</div>
<div class="control-group">
  <label for="count" class="control-label">count</label>
  <div class="controls">
    <%- contentTag('input', transaction.count, {type:'number', class:'span2', name:'count'}) %>
  </div>
</div>
