<div class="hero-unit">
  <h2>All Transactions</h2>
  <%- linkTo('Create a new Transaction', addTransactionPath, {class: 'btn pull-right'}); %>
</div>

<div id="transactions-list">
<% if (transactions) { %>
<%- buildTable([
                {text:"Vara", field:"ware.name", link: function(a){return "/wares/"+a.wareId;}},
                {text:"Transaktionstid", field:"createdAt"},
		{text:"Antal", field:"count"},
                {text:"Plats", field:"place.name", link: function(a){return "/places/"+a.placeId;}}
                ], transactions, false, "id",
                [
                {path: function(a){return "/transactions/"+a+"/edit";}, text: "Redigera"},
                {path: function(a){return "/transactions/remove/"+a;}, text: "Ta bort transaktion"}
                ]); %>
<% } %>
</div>
