<div class="hero-unit">
  <h2>All Transactions</h2>
  <%- linkTo('Create a new Transaction', addTransactionPath, {class: 'btn pull-right'}); %>
</div>

<div id="transactions-list">
<% if (transactions) { %>
<%- buildTable([{text:"Vara", field:"ware.name"},
                {text:"Transaktionstid", field:"createdAt"},
		{text:"Antal", field:"count"},
                {text:"Plats", field:"place.name"}], transactions, transactionPath, "id"); %>
<% } %>
</div>
