<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', place.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="location" class="control-label">location</label>
  <div class="controls">
    <%- contentTag('input', place.location, {type:'text', class:'span6', name:'location'}) %>
  </div>
</div>
<div class="control-group">
  <label for="group" class="control-label">group</label>
  <div class="controls">
    <%- selectTag([{text:'Grossist', value:'external'}, {text:'Skafferiet', value:'internal'}, {text:'Närcon Försäljningsställe',value:'seller'}, {text:'Använt',value:'discarded'}], "internal", {class:'span6', name:'group'}) %>
  </div>
</div>
