<div class="hero-unit">
  <h2>All Places</h2>
  <%- linkTo('Create a new Place', addPlacePath, {class: 'btn pull-right'}); %>
</div>

<div id="places-list">
<% if (places) { %>
<%- buildTable([{text:"Namn", field:"name"},
                {text:"Plats", field:"location"},
                ], places, placePath, "id", [{text:"Lägg beställning", path:function(a){return "/orders/add/place/"+a}}]); %>
<% } %>
</div>
