<div class="hero-unit">
  <h2 class="name"><%= place.name %></h2>
  <%- linkTo('Edit this place', editPlacePath(params.id), {class: 'btn pull-right'}); %>
  <%- linkTo('Back to list', placePath(''), {class: 'btn pull-right'}); %>
</div>

<div id="places-list">
<% if(place) { %>
<%- buildTable([{text:"Namn", field:"name"},
                {text:"Plats", field:"location"}
                ], place, placePath, "id"); %>
<% } %>
</div>

